<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cek Resi | TAWARARI</title>
    <link rel="stylesheet" href="/static/dist/css/styless.css">
    <script src="/static/dist/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="wrapper">
            <div class="logo"><a href=''>TAWARARI</a></div>
            <div class="menu">
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <!-- untuk home -->
        <section id="home">
            <img src="https://img.freepik.com/free-vector/web-development-programmer-engineering-coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-software-application-design-cartoon-illustration_107791-3863.jpg?size=626&ext=jpg&ga=GA1.2.1769275626.1605867161"/>
            <div class="kolom">
                <h1 class="deskripsi">Lacak Paket Gratis</h1>
                <p class="text-keren mb-3">Memastikan bahwa barang atau paket yang dikirim sesuai dengan alamat tujuan, seperti yang anda inginkan. Dengan nomor resi yang diberikan memungkinkan setiap barang atau paket yang dikirimkan tidak tertukar antara satu dengan lainnya. Mulai lacak paket anda dengan <b>REGISTER</b> atau <b>LOGIN</b> terlebih dahulu.</p>
                <a href="/register" class="tbl-biru">Register</a>
                <a href="/login" class="tbl-biru">Login</a>
            </div>
        </section>
    </div>

    <div id="contact">
        <div class="wrapper">
            <div class="footer">
                <div class="footer-section">
                    <h3>Taufik Mustafa Nur</h3>
                    <img class="fototawarari" src="/static/dist/img/taufik.jpeg">
                </div>
                <div class="footer-section">
                    <h3>Wahyu Wijayanto</h3>
                    <img class="fototawarari" src="/static/dist/img/wahyu.jpeg">
                </div>
                <div class="footer-section">
                    <h3>Dwi Rangga Okta Z</h3>
                    <img class="fototawarari" src="/static/dist/img/rangga.jpeg">
                </div>
                <div class="footer-section">
                    <h3>M.Rico Aditya Prayoga</h3>
                    <img class="fototawarari" src="/static/dist/img/rico.jpeg">
                </div>
            </div>
        </div>
    </div>

    <div id="copyright">
        <div class="wrapper text-keren">
            &copy; 2022. <b>TAWARARI.</b> All Rights Reserved.
        </div>
    </div> 
</body>
</html>